title: about 
layout: default.liquid
data:
    route: about
---
<article>
    <h1 style="margin-top: 24px;">jeremy day</h1>
    <p><img class="border margin right responsive-center" src="https://avatars0.githubusercontent.com/u/385684" height="256" width="256">I am an engineer at <a href="http://facebook.com">Facebook</a>. In May 2018, I graduated from the University of South Carolina with my MS in CS. The previous year, I graduated from USC with my BS in Computer Science and Mathematics. My favorite programming language is <a href="https://www.rust-lang.org/">Rust</a>. You can find my blog posts and talks on the <a href="/">feed page</a>, and you can see some of my projects on the <a href="projects.html">projects page</a>. I have some interactive programs or demonstrations on the <a href="lab.html">lab page</a>.</p>
</article>
