---
title: feed
layout: default.liquid
data:
    route: feed
---
<p>Jeremy Day, software engineer. I like programming and mathematics. Currently working on <a href="https://arc.net/">Arc</a>, a better way to use the internet.</p>
<a href="https://github.com/z2oh" class="social-link" id="github-social"></a>
<a href="https://www.linkedin.com/in/jday96/" class="social-link" id="linkedin-social"></a>
</br>
<ul class="main-list">
    {% for post in collections.posts.pages %}
        {% if post.data.type == "blog" %}
            <li class="main-list-link-type-{{ post.data.link_type }}">
                <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
                <h5 class="post-date">{{ post.data.published_date_friendly }}</h5>
            </li>
        {% endif %}
    {% endfor %}
</ul>
