---
title: feed
layout: default.liquid
data:
    route: feed
---
<p>Jeremy Day. Programmer. Interested in Rust. One day, "coding" and "programming" will mean different things.</p>
</br>
<ul class="main-list">
    {% for post in collections.posts.pages %}
        {% if post.data.type == "blog" %}
            <li class="main-list-link-type-{{ post.data.link_type }}">
                <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
                <h5 class="post-date">{{ post.data.published_date_friendly }}</h5>
            </li>
        {% endif %}
    {% endfor %}
</ul>
