title: feed
layout: default.liquid
data:
    route: feed
---
<ul class="feed-list main-list">
    {% for post in collections.posts.pages %}
        {% if post.data.type == "blog" %}
            <li>
                <a href="{{ post.permalink }}"><h3>{{ post.title }}</h3></a>
                <h5>{{ post.data.published_date_friendly }}</h5>
                <p>{{ post.description }}</p>
                <hr>
            </li>
        {% endif %}
    {% endfor %}
</ul>
