title: lab
layout: default.liquid
data:
    route: lab
---
<ul class="project-list main-list">
    {% for post in collections.posts.pages %}
        {% if post.data.type == "lab" %}
            <li>
                <a href="{{ post.permalink }}"><h3>{% case post.data.link_type %}{% when "external" %}[➚] {% when "pdf" %}[PDF] {% endcase %}{{ post.title }}</h3></a>
                <p>{{ post.description }}</p>
                <hr>
            </li>
        {% endif %}
    {% endfor %}
</ul>
