<!--nav class="menu">
    <a class="about menu-item {% if page.data.route == "about"%}current{%endif%}" href="/about.html">Jeremy</a>
    <a class="feed menu-item {% if page.data.route == "feed"%}current{%endif%}" href="/">Feed</a>
    <a class="projects menu-item {% if page.data.route == "projects"%}current{%endif%}" href="/projects.html">Projects</a>
    <a class="misc menu-item {% if page.data.route == "misc"%}current{%endif%}" href="/misc.html">Misc</a>
    <a class="lab menu-item {% if page.data.route == "lab"%}current{%endif%}" href="/lab.html">Lab</a>
    <a class="github menu-item" href="http://github.com/z2oh">Github</a>
    <hr>
</nav-->
