layout: empty.liquid
title: 2ˣ Trainer
description: Small flashcard utility to assist in memorizing powers of two.
data:
    link_type: internal
    route: lab
    type: lab
---
<style>
    #base {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #base {
        font-size: 10rem;
    }

    #back {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        color: #009bff;
        text-decoration: none;
    }

    #back:hover {
        text-decoration: underline;
    }

    #current-answer  {
        position: absolute;
        bottom: 1rem;
        font-size: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<a id="back" href="/">⇱ jaday.io</a>
<div id="container">
    <span id="base">2<sup id="exponent">x</sup></span>
    <br>
</div>
<span id="current-answer"></span>
<script>
    let bodyDOMRef          = document.querySelector('body');
    let baseDOMRef          = document.querySelector('#base');
    let exponentDOMRef      = document.querySelector('#exponent');
    let backDOMRef          = document.querySelector('#back');
    let currentAnswerDOMRef = document.querySelector('#current-answer');
    let answerDigitArray    = [];
    let currentIndex        = 0;
    let maxExponent         = 16;
    let minExponent         = 2;

    function init() {
        // Add the keypress event litener to the document.
        document.addEventListener('keypress', handleKeyPress);
        // Start the first round.
        initRound();
    }

    function setErrorState() {
        // Set error color for the background, and set all text color to white.
        bodyDOMRef.style.backgroundColor = '#ff9090';
        backDOMRef.style.color           = '#fff';
        baseDOMRef.style.color           = '#fff';
        currentAnswerDOMRef.style.color  = '#fff';
    }

    function clearErrorState() {
        // Set white color for the background, and reset all text colors.
        bodyDOMRef.style.backgroundColor = '#fff';
        backDOMRef.style.color           = '#009bff';
        baseDOMRef.style.color           = '#000';
        currentAnswerDOMRef.style.color  = '#000';
    }

    function initRound() {
        let exponent = Math.floor(Math.random() * (maxExponent - minExponent)) + minExponent;
        let answer = Math.pow(2, exponent);
        currentIndex = 0;
        answerDigitArray = answer.toString().split('');
        exponentDOMRef.innerHTML = exponent;
        // After a brief timeout, clear out the last correct answer.
        setTimeout(function() {
            currentAnswerDOMRef.innerHTML = '';
        }.bind(this), 300);
    }

    function handleKeyPress(event) {
        let key = event.key;
        // Ignore all non numeric key presses.
        if(isNaN(key)) {
            return;
        }

        if(key === answerDigitArray[currentIndex]) {
            clearErrorState();
            currentIndex++;
            let currentAnswer = answerDigitArray.slice(0, currentIndex).join('');
            currentAnswerDOMRef.innerHTML = currentAnswer;
            if(currentIndex === answerDigitArray.length) {
                initRound();
            }
        }
        else {
            setErrorState();
        }
    }

    init();
</script>
