---
layout: empty.liquid
title: rp
description: A Rust command line application to facilitate the rapid movement of files accross network boundaries by uploading them to <a href="https://hastebin.com/">hastebin</a>. rp emits an id which can be used by rp on a different machine to download the file.
data:
    link_type: external
    route: projects
    type: project
---
<script>window.location.href = "https://github.com/z2oh/rp/"</script>
