<!DOCTYPE html>
<html>
    <head>
        {% include "_head.liquid" %}
    </head>
    <body route="{{ page.data.route }}">
        <main>
          {{ page.content }}
        </main>
    </body>
</html>
